* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
p {
  background-color: black;
  color: antiquewhite;
  font-size: 2rem;
  padding: 5px;
  border-radius: 10px;
}
